* { font-family: Helvetica, Verdana,sans-serif; }
body{
     margin-left: 10%; /*отступ слева на всей странице */
     margin-right: 10%;/*отступ справа на всей странице */
     height: 100%;

 }
.container,html{
    height: 80%;
}
.head{
    width: 1000px; /*ширина серого блока*/
    height: 110px;/*высота блока*/
    border: 1px solid; /*границы блока 1 px*/
    background: #cccccc; /*серый бекграунд*/
    font-size: 10px ;/*размер текста*/
}

.head>h3, .head>h1{
    color: gray; /*цвет заголовков*/
    font-weight: normal;/*убераю жирность текста*/
    margin: 0; /*убрать все отступы*/

}
.head h1{
    margin-top: 10px; /*отступ заголовка 1, сверху */
}
.white{
    width: 75px; /*ширина белого квадрата*/
    height: 75px; /*высота квадрата*/
    background-color: #ffffff;/*цвет квадрата*/
    float: left; /* позиционирование вадрата слева+обтекание*/
    margin: 10px ; /* отступы от контейнера head по 10px во все стороны*/
}
.header{
    height: 30.5%;
}
.menu{
    width: 1002px; /*ширина меню*/
    height: 35px;/*высота меню*/
    background: #383838; /* бекграунд черный*/
    margin: 0; /*отступы меню =0*/
    list-style-type: none; /*убрать маркеры в списке*/
    margin-left: 0; /* Отступ слева опера   ИЕ */
    padding-left: 0;/*отступ слева в хром, сафари, файрфокс*/
    color: #cccccc;
    height: auto ;
}

.head-menu-list{
    display: inline-block;
    text-align: center;
    width: 105px;
    padding: 10px 0;
}

.href-head-menu{
    text-decoration: none; /*убираем подчеркивание*/

    color: #cccccc;

}


.head-menu-list:hover {

    background: white;/*при наведении на cписок она стает белой*/
    cursor: pointer;
}
.head-menu-list:hover .href-head-menu{
    color: black;
}


.menu-left{
    background: #cccccc; /*цвет левого меню*/
    float: left; /*выравнивание + обтекание текста*/
    height: 100%;/*высота "пустого" блока */
}

.menu-list{
    background: #383838; /*бекграунд левого меню серый*/
    margin-top: 10px; /*отступы*/
    margin-left: 10px;/*отступы*/
    margin-right: 10px;/*отступы*/
     line-height: 30px;/*растояние между списками*/
    text-align: center;
    list-style-type: none; /*убрать маркеры в списке*/
    padding: 0;/*отступ слева*/
    color: white;

}
.menu-list li{
    padding-left: 15px;
    padding-right: 15px;
}

.menu-list li:hover{ /*при наведении на список...*/
    background: white; /*цвет списка белый*/
    text-decoration: underline; /*подчеркивание списка*/
    color: black;
    cursor: pointer;

}


.conteiner-information>h2{
    margin-bottom: 5px;
    margin-top: 10px;
}
.conteiner-information h2, .conteiner-information h3{
    font-weight: normal;
}

.conteiner-information{
    margin-left: 250px;
    width: 750px;
}

.foot_background{
    background: #383838;
    height: 22px;
    width: 1002px

}

